{% extends 'userprofile/base_profile.html'%}

{% block title %}
Profiles
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            <table class="table table-bordered" >
                <tbody>
                {% if user_profile %}

                <tr scope="row" >
                    <td>Username</td>
                    <td>{{ user_profile.username }}</td>
                </tr>

                <tr scope="row" >
                    <td>Фамилия</td>
                    <td>{{ user_profile.userprofile.surname }}</td>
                </tr>

                <tr scope="row">
                    <td>Имя</td>
                    <td>{{ user_profile.userprofile.name }}</td>
                </tr>

                <tr scope="row">
                    <td>Отчество</td>
                    <td>{{ user_profile.userprofile.patronymic }}</td>
                </tr>

                <tr scope="row">
                    <td>Пол</td>
                    <td>{{ user_profile.userprofile.sex }}</td>
                </tr>

                <tr scope="row">
                    <td>Номер школы</td>
                    <td>{{ user_profile.userprofile.number_school }}</td>
                </tr>

                <tr scope="row">
                    <td>Дата рожления</td>
                    <td>{{ user_profile.userprofile.date_of_birth|date:"d M Y" }}</td>
                </tr>

                <tr scope="row">
                    <td>Номер телефона</td>
                    <td>{{ user_profile.userprofile.ph_number }}</td>
                </tr>
{% else %}
                <tr scope="row" >
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>

                <tr scope="row" >
                    <td>Фамилия</td>
                    <td>{{ user.userprofile.surname }}</td>
                </tr>

                <tr scope="row">
                    <td>Имя</td>
                    <td>{{ user.userprofile.name }}</td>
                </tr>

                <tr scope="row">
                    <td>Отчество</td>
                    <td>{{ user.userprofile.patronymic }}</td>
                </tr>

                <tr scope="row">
                    <td>Номер школы</td>
                    <td>{{ user.userprofile.number_school }}</td>
                </tr>

                <tr scope="row">
                    <td>Дата рожления</td>
                    <td>{{ user.userprofile.date_of_birth|date:"d M Y" }}</td>
                </tr>

                <tr scope="row">
                    <td>Номер телефона</td>
                    <td>{{ user.userprofile.ph_number }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}