{% extends 'userprofile/base_profile.html'%}

{% block title %}
Profiles
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            <table class="table table-bordered" >

                <tbody>
                <tr scope="row" >
                    <td>Фамилия</td>
                    <td>{{ profile.surname }}</td>
                </tr>

                <tr scope="row">
                    <td>Имя</td>
                    <td>{{ profile.name }}</td>
                </tr>

                <tr scope="row">
                    <td>Отчество</td>
                    <td>{{ profile.patronymic }}</td>
                </tr>

                <tr scope="row">
                    <td>Номер школы</td>
                    <td>{{ profile.number_school }}</td>
                </tr>

                <tr scope="row">
                    <td>Дата рожления</td>
                    <td>{{ profile.date_of_birth|date:"d M Y" }}</td>
                </tr>

                <tr scope="row">
                    <td>Номер телефона</td>
                    <td>{{ profile.ph_number }}</td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}