{% extends 'userprofile/base_profile.html'%}

{% block title %}
Profiles
{% endblock %}

{% block content %}
    {{ user_form.errors }}
    {{ profile_form.errors }}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            <form method="POST" action="{% url 'user_registration' %}">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit">Зарегистрироваться!</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}