{% extends 'userprofile/base_profile.html'%}

{% block title %}
Profiles
{% endblock %}

{% block content %}

<table>

    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Номер школы</th>
        <th>Дата рожления</th>
        <th>Номер телефона</th>

    </tr>
    <tr>
        <td> {{ profile.surname }}</td>
        <td>{{ profile.name }}</td>
        <td>{{ profile.patronymic }}</td>
        <td>{{ profile.number_school }}</td>
        <td>{{ profile.date_of_birth }}</td>
        <td>{{ profile.ph_number }}</td>
    </tr>

</table>


{% endblock %}