<!DOCTYPE html>
<html lang="ru">
<head>
{% load static %}
    {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'userprofile/css/main.css' %}">
    {% endblock %}
    <title>
        {% block title %}
        Profile
        {% endblock %}
    </title>

</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'info_url' %}">Информация</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile_list_url' %}">Профили</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'groups_list_url' %}">Список групп</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'compclass_list_url' %}">Курсы</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'places_list_url' %}">Места проведения занятия</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'teachers_list_url' %}">Преподаватели</a>
            </li>

             <li class="nav-item active">
                <a class="nav-link" href="{% url 'lessons_detail_url' %}">Расписание</a>
            </li>
            <li class="nav-item">
	        <a class="nav-link " data-value="contact" href="{% url 'user_registration' %}">Вход в систему</a>
	      </li>
        </ul>
    </div>
</nav>
{% block content %}
            There is any content
{% endblock %}

 <!-- add Javasscript file from js file -->
<script type="text/javascript" src="{% static 'userprofile/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'userprofile/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'userprofile/js/main.js' %}"></script>

{% block footer %}
{% endblock %}
</body>
</html>